doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascript/main.js')
  body(class="body")
    center
      div(class="hlavicka" data-text="PIŠKVORKY")
        span P
        span I
        span Š
        span K
        span V
        span O
        span R
        span K
        span Y
    center
      div(class="Plocha")
        div(class="board" id="board")
        div(class="message" id="message") Hráč X začíná
    a(class="button" type="button" href="" id="reset") Nová hra 
    block content